---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_RsUIbMyxLQszELZQEXHTeFA9008YRV7Vhr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "cus_MZLaaJi3ck3Cdz",
              "object": "customer",
              "account_balance": 0,
              "address": null,
              "balance": 0,
              "created": 1665135034,
              "currency": "usd",
              "default_currency": "usd",
              "default_source": "card_1LqCtIEI1oHzFYTAsaTMyuFL",
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": null,
              "invoice_prefix": "294A28AC",
              "invoice_settings": {
                "custom_fields": null,
                "default_payment_method": null,
                "footer": null,
                "rendering_options": null
              },
              "livemode": false,
              "metadata": {},
              "name": "unprorated - prorated change",
              "next_invoice_sequence": 2,
              "phone": null,
              "preferred_locales": [],
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
                  {
                    "id": "card_1LqCtIEI1oHzFYTAsaTMyuFL",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "Visa",
                    "country": "US",
                    "customer": "cus_MZLaaJi3ck3Cdz",
                    "cvc_check": "pass",
                    "dynamic_last4": null,
                    "exp_month": 12,
                    "exp_year": 2032,
                    "fingerprint": "VVFm0wJvkJACLKn7",
                    "funding": "credit",
                    "last4": "1111",
                    "metadata": {},
                    "name": null,
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_MZLaaJi3ck3Cdz/sources"
              },
              "subscriptions": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_1LqCtuEI1oHzFYTAeDVlU8mV",
                    "object": "subscription",
                    "application": null,
                    "application_fee_percent": null,
                    "automatic_tax": {
                      "enabled": false
                    },
                    "billing": "charge_automatically",
                    "billing_cycle_anchor": 1665135086,
                    "billing_thresholds": null,
                    "cancel_at": null,
                    "cancel_at_period_end": false,
                    "canceled_at": null,
                    "collection_method": "charge_automatically",
                    "created": 1665135086,
                    "currency": "usd",
                    "current_period_end": 1667813486,
                    "current_period_start": 1665135086,
                    "customer": "cus_MZLaaJi3ck3Cdz",
                    "days_until_due": null,
                    "default_payment_method": null,
                    "default_source": null,
                    "default_tax_rates": [],
                    "description": null,
                    "discount": null,
                    "ended_at": null,
                    "invoice_customer_balance_settings": {
                      "consume_applied_balance_on_void": true
                    },
                    "items": {
                      "object": "list",
                      "data": [
                        {
                          "id": "si_MZLbYGOGUxY5Hs",
                          "object": "subscription_item",
                          "billing_thresholds": null,
                          "created": 1665135087,
                          "metadata": {},
                          "plan": {
                            "id": "price_1Ll8YQEI1oHzFYTAqGZs2yeD",
                            "object": "plan",
                            "active": true,
                            "aggregate_usage": null,
                            "amount": 2000,
                            "amount_decimal": "2000",
                            "billing_scheme": "per_unit",
                            "created": 1663926738,
                            "currency": "usd",
                            "interval": "month",
                            "interval_count": 1,
                            "livemode": false,
                            "metadata": {},
                            "nickname": "Monthly Plan",
                            "product": "prod_MU6lynrEOgIKAE",
                            "tiers": null,
                            "tiers_mode": null,
                            "transform_usage": null,
                            "trial_period_days": null,
                            "usage_type": "licensed"
                          },
                          "price": {
                            "id": "price_1Ll8YQEI1oHzFYTAqGZs2yeD",
                            "object": "price",
                            "active": true,
                            "billing_scheme": "per_unit",
                            "created": 1663926738,
                            "currency": "usd",
                            "custom_unit_amount": null,
                            "livemode": false,
                            "lookup_key": null,
                            "metadata": {},
                            "nickname": "Monthly Plan",
                            "product": "prod_MU6lynrEOgIKAE",
                            "recurring": {
                              "aggregate_usage": null,
                              "interval": "month",
                              "interval_count": 1,
                              "trial_period_days": null,
                              "usage_type": "licensed"
                            },
                            "tax_behavior": "exclusive",
                            "tiers_mode": null,
                            "transform_quantity": null,
                            "type": "recurring",
                            "unit_amount": 2000,
                            "unit_amount_decimal": "2000"
                          },
                          "quantity": 10,
                          "subscription": "sub_1LqCtuEI1oHzFYTAeDVlU8mV",
                          "tax_rates": []
                        }
                      ],
                      "has_more": false,
                      "total_count": 1,
                      "url": "/v1/subscription_items?subscription=sub_1LqCtuEI1oHzFYTAeDVlU8mV"
                    },
                    "latest_invoice": "in_1LqCtuEI1oHzFYTAL3WzLpst",
                    "livemode": false,
                    "metadata": {},
                    "next_pending_invoice_item_invoice": null,
                    "pause_collection": null,
                    "payment_settings": {
                      "payment_method_options": null,
                      "payment_method_types": null,
                      "save_default_payment_method": "off"
                    },
                    "pending_invoice_item_interval": null,
                    "pending_setup_intent": null,
                    "pending_update": null,
                    "plan": {
                      "id": "price_1Ll8YQEI1oHzFYTAqGZs2yeD",
                      "object": "plan",
                      "active": true,
                      "aggregate_usage": null,
                      "amount": 2000,
                      "amount_decimal": "2000",
                      "billing_scheme": "per_unit",
                      "created": 1663926738,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "nickname": "Monthly Plan",
                      "product": "prod_MU6lynrEOgIKAE",
                      "tiers": null,
                      "tiers_mode": null,
                      "transform_usage": null,
                      "trial_period_days": null,
                      "usage_type": "licensed"
                    },
                    "quantity": 10,
                    "schedule": null,
                    "start": 1665135128,
                    "start_date": 1665135086,
                    "status": "active",
                    "tax_percent": null,
                    "test_clock": null,
                    "transfer_data": null,
                    "trial_end": null,
                    "trial_start": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_MZLaaJi3ck3Cdz/subscriptions"
              },
              "tax_exempt": "none",
              "tax_ids": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/customers/cus_MZLaaJi3ck3Cdz/tax_ids"
              },
              "tax_info": null,
              "tax_info_verification": null,
              "test_clock": null
            },
            {
              "id": "cus_MWhr7V9UN9YfmE",
              "object": "customer",
              "account_balance": 0,
              "address": null,
              "balance": 0,
              "created": 1664525963,
              "currency": null,
              "default_currency": null,
              "default_source": null,
              "delinquent": false,
              "description": null,
              "discount": null,
         [...]
