---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?limit=50&starting_after=cus_GNnjagaqzo1cJA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_RsUIbMyxLQszELZQEXHTeFA9008YRV7Vhr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-03-14'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "cus_GNnA4zzUx83S4U",
              "object": "customer",
              "account_balance": 0,
              "address": null,
              "balance": 0,
              "created": 1576671904,
              "currency": "usd",
              "default_currency": "usd",
              "default_source": "card_1Fr1igEI1oHzFYTAApwEPgYz",
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "ernest@customer.com",
              "invoice_prefix": "F8DF6FD7",
              "invoice_settings": {
                "custom_fields": null,
                "default_payment_method": null,
                "footer": null,
                "rendering_options": null
              },
              "livemode": false,
              "metadata": {},
              "name": "ernest hodge",
              "next_invoice_sequence": 35,
              "phone": null,
              "preferred_locales": [],
              "shipping": {
                "address": {
                  "city": "",
                  "country": "",
                  "line1": "",
                  "line2": "",
                  "postal_code": "",
                  "state": ""
                },
                "name": "ernest hodge",
                "phone": ""
              },
              "sources": {
                "object": "list",
                "data": [
                  {
                    "id": "card_1Fr1igEI1oHzFYTAApwEPgYz",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "Visa",
                    "country": "US",
                    "customer": "cus_GNnA4zzUx83S4U",
                    "cvc_check": "pass",
                    "dynamic_last4": null,
                    "exp_month": 12,
                    "exp_year": 2032,
                    "fingerprint": "VVFm0wJvkJACLKn7",
                    "funding": "unknown",
                    "last4": "1111",
                    "metadata": {},
                    "name": null,
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_GNnA4zzUx83S4U/sources"
              },
              "subscriptions": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_GNnK3xAyNmU7CA",
                    "object": "subscription",
                    "application": null,
                    "application_fee_percent": null,
                    "automatic_tax": {
                      "enabled": false
                    },
                    "billing": "charge_automatically",
                    "billing_cycle_anchor": 1576672479,
                    "billing_thresholds": null,
                    "cancel_at": null,
                    "cancel_at_period_end": false,
                    "canceled_at": null,
                    "collection_method": "charge_automatically",
                    "created": 1576672479,
                    "currency": "usd",
                    "current_period_end": 1666096479,
                    "current_period_start": 1663504479,
                    "customer": "cus_GNnA4zzUx83S4U",
                    "days_until_due": null,
                    "default_payment_method": null,
                    "default_source": null,
                    "default_tax_rates": [
                      {
                        "id": "txr_1FRu4vEI1oHzFYTAW54BXcn6",
                        "object": "tax_rate",
                        "active": true,
                        "country": null,
                        "created": 1570684845,
                        "description": "Federal Tax",
                        "display_name": "Sales tax",
                        "inclusive": true,
                        "jurisdiction": "San Francisco",
                        "livemode": false,
                        "metadata": {},
                        "percentage": 30.0,
                        "state": null,
                        "tax_type": null
                      }
                    ],
                    "description": null,
                    "discount": null,
                    "ended_at": null,
                    "invoice_customer_balance_settings": {
                      "consume_applied_balance_on_void": true
                    },
                    "items": {
                      "object": "list",
                      "data": [
                        {
                          "id": "si_GNnKBkKUtjMuoy",
                          "object": "subscription_item",
                          "billing_thresholds": null,
                          "created": 1576672480,
                          "metadata": {},
                          "plan": {
                            "id": "plan_F9dYrWgVlim3R4",
                            "object": "plan",
                            "active": true,
                            "aggregate_usage": null,
                            "amount": 2000,
                            "amount_decimal": "2000",
                            "billing_scheme": "per_unit",
                            "created": 1559107487,
                            "currency": "usd",
                            "interval": "month",
                            "interval_count": 1,
                            "livemode": false,
                            "metadata": {},
                            "nickname": "Plus Plan Monthly (USD)",
                            "product": "prod_F9dY82ftiz2yjn",
                            "tiers": null,
                            "tiers_mode": null,
                            "transform_usage": null,
                            "trial_period_days": null,
                            "usage_type": "licensed"
                          },
                          "price": {
                            "id": "plan_F9dYrWgVlim3R4",
                            "object": "price",
                            "active": true,
                            "billing_scheme": "per_unit",
                            "created": 1559107487,
                            "currency": "usd",
                            "custom_unit_amount": null,
                            "livemode": false,
                            "lookup_key": null,
                            "metadata": {},
                            "nickname": "Plus Plan Monthly (USD)",
                            "product": "prod_F9dY82ftiz2yjn",
                            "recurring": {
                              "aggregate_usage": null,
                              "interval": "month",
                              "interval_count": 1,
                              "trial_period_days": null,
                              "usage_type": "licensed"
                            },
                            "tax_behavior": "unspecified",
                            "tiers_mode": null,
                            "transform_quantity": null,
                            "type": "recurring",
                            "unit_amount": 2000,
                            "unit_amount_decimal": "2000"
                          },
                          "quantity": 3,
                          "subscription": "sub_GNnK3xAyNmU7CA",
                          "tax_rates": []
                        }
                      ],
                      "has_more": false,
                      "total_count": 1,
                      "url": "/v1/subscription_items?subscription=sub_GNnK3xAyNmU7CA"
                    },
                    "latest_invoice": "in_1LjMniEI1oHzFYTAAuK476TB",
                    "livemode": false,
                    "metadata": {},
                    "next_pending_invoice_item_invoice": null,
                    "pause_collection": null,
                    "payment_settings": {
                      "payment_method_options": null,
                      "payment_method_types": null,
                      "save_default_payment_method": null
                    },
                    "pending_invoice_item_interval": null,
                    "pending_setup_intent": null,
                    "pending_update": null,
                    "plan": {
                      "id": "plan_F9dYrWgVlim3R4",
                      "object": "plan",
                      "active": true,
                      "aggregate_usage": null,
                      "amount": 2000,
                      "amount_decimal": "2000",
                      "billing_scheme": "per_unit",
                      "created": 1559107487,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "nickname": "Plus Plan Monthly (USD)",
                      "product": "prod_F9dY82ftiz2yjn",
                      "tiers": null,
                      "tiers_mode": null,
                      "transform_usage": null,
                      "trial_period_days": null,
                      "usage_type": "licensed"
                    },
                    "quantity": 3,
                    "schedule": null,
                    "start": 1576672479,
                    "start_date": 1576672479,
                    "status": "active",
                    "tax_percent": null,
                    "test_clock": null,
                    "transfer_data": null,
                    "trial_end": null,
                    "trial_start": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_GNnA4zzUx83S4U/subscriptions"
              },
              "tax_exempt": "none",
              "tax_ids": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/customers/cus_GNnA4zzUx83S4U/tax_ids"
              },
              "tax_info": null,
              "tax_info_verification": null,
              "test_clock": null
            },
            {
              "id": "cus_GLu49hUkEoP6a3",
              "object": "customer",
              "account_balance": 0,
              "address": null,
              "balance": 0,
              "created": 1576236310,
              "currency": "usd",
              "default_currency": "usd",
              "default_source": "card_1FpCIGEI1oHzFYTAWCoXIIul",
              "delinquent": false,
              "description": null,
            [...]
